.success-container {
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #dbeafe,
    #f0f9ff
  );

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.success-card {
  background: white;
  padding: 50px;
  border-radius: 20px;
  text-align: center;
  width: 500px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
}

.tick {
  font-size: 70px;
  margin-bottom: 20px;
}

.success-card h1 {
  color: #16a34a;
  margin-bottom: 15px;
}

.success-card p {
  color: #666;
  margin-bottom: 20px;
  font-size: 18px;
}

.success-card h2 {
  color: #1e3a8a;
  margin-bottom: 30px;
}

.button-group {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.download-btn,
.home-btn {
  border: none;
  padding: 12px 22px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.download-btn {
  background: #2563eb;
  color: white;
}

.download-btn:hover {
  background: #1d4ed8;
}

.home-btn {
  background: #16a34a;
  color: white;
}

.home-btn:hover {
  background: #15803d;
}