.footer {
  background: #e5e7eb;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 40px;
  padding: 60px 80px;
}

.footer h1 {
  color: teal;
}

.footer p {
  margin-top: 10px;
  color: gray;
}

@media (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr;
    padding: 40px 20px;
  }
}